body{
	overflow-x:hidden;
}
*{
	font-family: 'Roboto', sans-serif;
}
/*swiper全局*/
.mySwiper{
	height:100vh;
}

/*导航*/
.Nav{
	position:absolute;
	top:0;
	width:100%;
	z-index:10;
}
img.Logo{
	height:80px;
}
/*swiper内容*/
.HL{
		font-size:72px;
	color:#fff;
		opacity:0;
	position:absolute;
	transform: translateX(-400px);
		
}
.swiper-slide-active .HL{
	    top: 50%;
	opacity:1;
	    transform: translateX(200px);
		transition:all 0.8s;	
}
/* 图片列表 */
.background1 {
    background: url(image/black.jpg);
}
.row.list{
    margin: auto;
    padding: 5rem 0;
     width: 80%;
}
.row.list img {
    width: 100%;
    height: auto;
}