body{
	overflow-x:hidden;
}

/*swiper全局*/
.swiper-container{
	height:100vh;
}

/*导航*/
.Nav{
	position:fixed;	
	z-index: 10;
}


/*swiper内容*/
.HL{
	position:absolute;
	transform: translate(50%, 50%);
		
}
.ani-slide .HL h1{
	opacity:1;
	    transform: translateX(200px);
		transition:all 0.8s;	
}
.HL h1{
	font-size:72px;
	color:#fff;
	opacity:0;
	transform: translateX(-400px);
}