body{
	overflow-x:hidden;
	
}
*{
	font-family: 'Roboto', sans-serif;
}
.noe::before {
    content: '';	

}
/*********LoadingPage*************/

#loading {
  position: fixed;
 background: url(image/4aafa.jpg) no-repeat center;
  max-width:100%;
  width: 100%;
  height: 100%;
  z-index: 9999;

}
#loading_bg{
  background: url(image/4aafa.jpg) no-repeat center;
}
//body {
//  background: #eaecfa;
//}
/*LOGO*/
.Nav {
    position: absolute;
    top: 0;
   /* right: 0;*/
    width: 100%;
    height: 80px;
    z-index: 10;
	    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
	    padding: 0 1rem;
}
button.btn.btn-primary {
    margin-right: 0;
    margin-left: auto;
}
.collapse {

    display: block !important;
   opacity:0;
    top: 0;
    left: -10px;
    width: 424px;
    height: 100%;
    padding: 60px 1rem;
    background-color: #000;
    border-left: 1px solid #e3e3e3;
    text-align: center;
    visibility: visible;
    overflow-y: visible;
    transform: translate3d(424px, 0, 0);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    z-index: 1;
}

.collapse.show {
	 position: fixed;
    transform: translate3d(0px, 0, 0);
	 opacity:1;
}
img.Logo{   
    padding: 1rem;
    width: auto;
    height: 100%;
z-index: 2;
}
ul.nav-left {
    width: 100%;
    display: inline-flex;
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
}
a.nav-left-link {
	text-decoration: none;
    width: 100%;
    display: inline-block;
}
li.nav-left-item {
    width: 100%;
    line-height: 4;
    margin: 10px auto;
    background: #eeee;
}
i.menu:before{
	content: "\f0c9";
}
.card-body{
    top: 10%;	
}
.loader{
    --size: 5px;
    --duration: 800ms;
width: 200px;
    height: 200px;
    margin: 20% auto;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    position: relative;
}
.loader .box{
    width: 55px;
    height: 55px;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
.loader .box:nth-child(1){
    transform: translate(100%, 0);
    animation: box1 800ms linear infinite;
}
.loader .box:nth-child(2){
    transform: translate(0, 100%);
    animation: box2 800ms linear infinite;
}
.loader .box:nth-child(3){
    transform: translate(100%, 100%);
    animation: box3 800ms linear infinite;
}
.loader .box:nth-child(4){
    transform: translate(200%, 0);
    animation: box4 800ms linear infinite;
}
.loader .box > div{
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    background: #ffffff;
    width: 100%;
    height: 100%;
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}
.loader .box > div:nth-child(1){
    top: 0;
    left: 0;
}
.loader .box > div:nth-child(2){
    background: #ffffff;
    right: 0;
    --rotateY: 90deg;
}
.loader .box > div:nth-child(3){
    background: #c1c1c1;
    --rotateX: -90deg;
}
.loader .box > div:nth-child(4){
    background: #959595;
    top: 0;
    left: 0;
    --translateZ: calc(var(--size) * 2 * -1);
}
@keyframes box1{
    0%, 50%{ transform: translate(100%, 0); }
    100%{ transform: translate(200%, 0); }
}
@keyframes box2{
    0%{ transform: translate(0, 100%); }
    50%{ transform: translate(0, 0); }
    100%{ transform: translate(100%, 0); }
}
@keyframes box3{
    0%, 50%{ transform: translate(100%, 100%); }
    100%{ transform: translate(0, 100%); }
}
@keyframes box4{
    0%{ transform: translate(200%, 0); }
    50%{ transform: translate(200%, 100%); }
    100%{ transform: translate(100%, 100%); }
} 

/********************************/

/********************************/
@font-face {
		font-family: 'Sucrose Bold Two';
		src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
		}
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header { 
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg) no-repeat;
	padding-top: 61.93333333%;
	background-size: cover;
  font-family: 'Sucrose Bold Two';
}
.noe img {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
}
.noe .man1 {
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	width: auto;
	display:none;
}
.noe .man2 {
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	width: auto;
	display:none;
}
.noe .man3 {
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	width: auto;
	display:none;
}
.noe h1 {
 position: fixed;
    top: 10rem;
    right: 20rem;
    font-size: 12vw;
    line-height: .8;
    margin-top: 0;
    text-align: center;
    z-index: -1;
}
.noe h1 span {
  display: block;
  font-size: 8.75vw;
}
main { 
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: 'IM Fell French Canon Pro';
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
}


/********************************/

@media all and (max-width: 400px) {
  main { padding: 2rem; }
}


@media only screen and (min-width: 769px){
/*swiper全局*/
.mySwiper{
	height:100vh;
}


/*swiper内容*/
.HL{
		font-size:72px;
	color:#fff;
		opacity:0;
	position:absolute;
	transform: translateX(-400px);
		
}
.swiper-slide-active .HL{
	    top: 50%;
	opacity:1;
	    transform: translateX(200px);
		transition:all 0.8s;	
}
/* 图片列表 */
.background1 {
    background: url(image/page.jpg);
	    height: 100vh;

		    align-items: center;
			padding: 5em;
}
.background2{
	background:url(image/Backgroundop2.jpg);
	    height: 100vh;
		display: flex;
		    align-items: center;
			padding: 5em;
}
.row.list{
width: 100%;
    height: auto;

}
.list{
    margin: auto;
    padding: 5rem 0;
     width: 80%;
}
.row.list img {
    width: 100%;
    height: auto;
	    border: 10px #888 solid;
		transform: scale(0.9);
    transition: all 0.8s;
}
.row.list img:hover{
	border:10px #fff solid;
	transform: scale(1);
}
.list span {
	color:#fff;
    font-size: 1.5em;
    text-align: center;
    display: block;
	line-height: 2;
}
h1.title {
	color:#fff;
	font-size: 5em;
    font-weight: bold;
    text-align: center;
}
}
